<div ng-show="project" style="overflow:none">
    <p>Project: <a href="/#/project/{{project.id}}">{{project.user}}/{{project.id}}</a></p>
    <div ng-hide="project.ownedByMe"><a class="btn btn-primary" ng-click="fork()">Fork this project</a></div>
    <div ng-hide="!project.ownedByMe">
        <a class="btn btn-primary" ng-click="showForm=!showForm">Edit Project: {{showForm}}</a>
    </div>
    <form role="form" ng-submit="modify()" ng-hide="!showForm">
        <div data-ng-include data-src="'partials/project-editor.html'"></div>
        <button type="submit" class="btn btn-primary">Modify</button>
    </form>
    <div data-ng-include data-src="'partials/project-viewer.html'" ng-hide="showForm"></div>
    
</div>