<div ng-show="project" style="overflow:none">
    <p>Project: <a href="/#/project/{{project.user}}/{{project.id}}">{{project.user}}/{{project.id}}</a></p>
    <h1>{{project.title}}</h1>
    <p ng-bind-html="project.content" class="well"></p>
    
    <div ng-switch on="project.ownedByMe">
        <div ng-switch-when="false"><button class="btn btn-primary" ng-click="fork()">Fork this project</button></div>
        <div ng-switch-default>
            <h1>Modify project <a class="btn btn-primary" ng-click="showForm=!showForm">Display form below</a></h1>
            <form role="form" ng-submit="modify()" ng-hide="!showForm">
                <div data-ng-include data-src="'partials/project-editor.html'"></div>
                <button type="submit" class="btn btn-primary">Modify</button>
            </form>
        </div>
    </div>
</div>