              <h1>{{project.title}}</h1>
              <img src="{{ project.picture }}" ng-hide="!project.picture" />
              <h2>Objective</h2>
              {{project.objective}}
              <h2>Duration</h2>
              {{project.duration}}
              <h2>Targeted age group</h2>
              {{project.ageGroup}}
              
              <div class="materials-row"><h2>Materials</h2></div>
        
                <div ng-repeat="material in project.materials" class="row">
                    <div class="body" style="margin-bottom: 3px">
                      <a href="{{material.link}}">{{material.item}}</a>
                    </div>
                     <div class="body" style="margin-bottom: 3px">
                      {{material.quantity}}
                    </div>
                    <div class="body" style="margin-bottom: 3px">
                      {{material.price}}
                    </div>
                    <div class="body" style="margin-bottom: 3px">
                      {{material.description}}
                    </div>
            
                </div>

              <div class="steps-row"><h2>Steps</h2></div>
                <div ng-repeat="(i,step) in project.steps" class="row">
                    <div class="row">
                        <h3 class="body">{{i+1}}. {{step.description}}</h3>
                    </div>
                    <div class="row">
                        <div class="body">
                            <img src="{{ step.media }}" ng-hide="!step.media" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="body">
                            {{ step.notes }}
                        </div>
                    </div>
                </div>

              <h2>Notes</h2>
              {{project.notes}}