<div class="row section" style="border:none;">
  <div class="col-md-7 col-lg-offset-1">

    <div class="form-group">
      <label for="title">Project title</label>
      <input class="form-control" type="text" ng-model="project.title" id="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="picture">Project picture</label>
      <div picture-upload info="project"></div>
    </div>
    <div class="form-group">
      <label for="objective">Objective</label>
      <textarea class="form-control" rows="2" ng-model="project.objective" id="objective" placeholder="What are you making?"></textarea>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
        <label for="duration">Duration</label>
      <input class="form-control" type="text" ng-model="project.duration" id="duration" placeholder="How long does it take to make?">
        </div>
        <div class="col-md-6">
          <label for="ageGroup">Targeted age group</label>
          <select class="form-control" id="ageGroup" ng-model="project.ageGroup">
            <option value="all" selected="selected">All ages</option>
            <option value="10-13">10-13</option>
            <option value="13-16">13-16</option>
          </select>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="steps">Materials</label>
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Link</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="material in project.materials">
            <td><input class="form-control" type="text" ng-model="material.item"></td>
            <td><input class="form-control" type="text" ng-model="material.description"></td>
            <td><input class="form-control" type="text" ng-model="material.quantity"></td>
            <td><input class="form-control" type="text" ng-model="material.price"></td>
            <td><input class="form-control" type="text" ng-model="material.link"></td>
            <td><a href ng-click="project.materials.splice($index, 1)" class="btn btn-danger">&times;</a></td>
          </tr>
        </tbody>
      </table>
      <a href ng-click="project.materials.push({})" class="btn btn-success pull-right">add material</a>
      <div style="clear:both;"></div>
    </div>

    <div class="form-group">
      <label for="steps">Steps</label>
      <table class="table">
        <tbody>
          <tr ng-repeat="(i,step) in project.steps">
            <td><p><a class="btn btn-default">{{i+1}}.</a></p></td>
            <td>
              <p><input class="form-control" type="text" ng-model="step.description"></p>
              <div picture-upload info="step"></div>
              <p>
                <textarea class="form-control" rows="2" ng-model="step.notes" id="notes" placeholder="Additional notes on this step..."></textarea>
              </p>
            </td>
            <td><p><a href ng-click="project.steps.splice($index, 1)" class="btn btn-danger">&times;</a></p></td>
          </tr>
        </tbody>
      </table>
      <a href ng-click="project.steps.push({})" class="btn btn-success pull-right">add step</a>
      <div style="clear:both;"></div>
    </div>

    <div class="form-group">
      <label for="notes">Additional notes</label>
      <textarea class="form-control" rows="2" ng-model="project.notes" id="notes" placeholder="Additional notes for the project..."></textarea>
    </div>
  </div>
</div>