<h3>Search</h3>

Test queries: ingredients, ewa
<script>
  (function() {
    var cx = '002434031809215344527:933xnku0cqq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
aaaa
<gcse:search webSearchQueryAddition='"makehub"'></gcse:search>

<div style="display:none">

  <div id="base_webResult">
    <div class="gs-webResult gs-result"
      data-vars="{longUrl:function() {
        var i = unescapedUrl.indexOf(visibleUrl);
        return i < 1 ? visibleUrl : unescapedUrl.substring(i);}}">
      <div data-if="Vars.richSnippet" data-attr="0"
        data-body="render('thumbnail',richSnippet,{url:unescapedUrl,target:target})"></div>
            <h5 data-body="richSnippet.metatags.ogDescription"></h5>
      <div class="gs-title">
        <a class="gs-title" data-attr="{href:unescapedUrl,target:target}"
          data-body="html(title)"></a>
      </div>
      <div class="gs-snippet" data-body="html(content)"></div>
            <div data-body="JSON.stringify(richSnippet)"></div>

      <div class="gs-visibleUrl gs-visibleUrl-short" data-body="visibleUrl"></div>
      <div class="gs-visibleUrl gs-visibleUrl-long" data-body="longUrl()"></div>
      <div data-if="Vars.richSnippet && Vars.richSnippet.action" class="gs-actions"
        data-body="render('action',richSnippet,{url:unescapedUrl,target:target})"></div>
    </div>
  </div>
</div>