.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #aea79f 0%, #92897e 100%);
  background-image: linear-gradient(to bottom, #aea79f 0%, #92897e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaea79f', endColorstr='#ff92897e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #8d8478;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #92897e;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #92897e;
  border-color: #8d8478;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #dd4814 0%, #a5360f 100%);
  background-image: linear-gradient(to bottom, #dd4814 0%, #a5360f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4814', endColorstr='#ffa5360f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #9c330e;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #a5360f;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #a5360f;
  border-color: #9c330e;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #38b44a 0%, #298537 100%);
  background-image: linear-gradient(to bottom, #38b44a 0%, #298537 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff38b44a', endColorstr='#ff298537', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #277e34;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #298537;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #298537;
  border-color: #277e34;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #efb73e 0%, #dd9d12 100%);
  background-image: linear-gradient(to bottom, #efb73e 0%, #dd9d12 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefb73e', endColorstr='#ffdd9d12', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #d49712;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #dd9d12;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #dd9d12;
  border-color: #d49712;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #df382c 0%, #b3251b 100%);
  background-image: linear-gradient(to bottom, #df382c 0%, #b3251b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf382c', endColorstr='#ffb3251b', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #aa231a;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #b3251b;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #b3251b;
  border-color: #aa231a;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #772953 0%, #491933 100%);
  background-image: linear-gradient(to bottom, #772953 0%, #491933 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff772953', endColorstr='#ff491933', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #42172e;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #491933;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #491933;
  border-color: #42172e;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #dd4814 0%, #c64012 100%);
  background-image: linear-gradient(to bottom, #dd4814 0%, #c64012 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4814', endColorstr='#ffc64012', GradientType=0);
  background-color: #c64012;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #dd4814 0%, #c64012 100%);
  background-image: linear-gradient(to bottom, #dd4814 0%, #c64012 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4814', endColorstr='#ffc64012', GradientType=0);
  background-color: #c64012;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #ed6637 0%, #dd4814 100%);
  background-image: linear-gradient(to bottom, #ed6637 0%, #dd4814 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed6637', endColorstr='#ffdd4814', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #c64012 0%, #d44513 100%);
  background-image: linear-gradient(to bottom, #c64012 0%, #d44513 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc64012', endColorstr='#ffd44513', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #9d366d 0%, #772953 100%);
  background-image: linear-gradient(to bottom, #9d366d 0%, #772953 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d366d', endColorstr='#ff772953', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #772953 0%, #802c5a 100%);
  background-image: linear-gradient(to bottom, #772953 0%, #802c5a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff772953', endColorstr='#ff802c5a', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #dd4814 0%, #ae3910 100%);
  background-image: linear-gradient(to bottom, #dd4814 0%, #ae3910 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4814', endColorstr='#ffae3910', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #38b44a 0%, #2c8d3a 100%);
  background-image: linear-gradient(to bottom, #38b44a 0%, #2c8d3a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff38b44a', endColorstr='#ff2c8d3a', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #772953 0%, #511c39 100%);
  background-image: linear-gradient(to bottom, #772953 0%, #511c39 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff772953', endColorstr='#ff511c39', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #efb73e 0%, #e7a413 100%);
  background-image: linear-gradient(to bottom, #efb73e 0%, #e7a413 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefb73e', endColorstr='#ffe7a413', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #df382c 0%, #bc271c 100%);
  background-image: linear-gradient(to bottom, #df382c 0%, #bc271c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf382c', endColorstr='#ffbc271c', GradientType=0);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #ae3910;
  background-image: -webkit-linear-gradient(top, #dd4814 0%, #ba3d11 100%);
  background-image: linear-gradient(to bottom, #dd4814 0%, #ba3d11 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4814', endColorstr='#ffba3d11', GradientType=0);
  border-color: #ba3d11;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dd4814 0%, #c64012 100%);
  background-image: linear-gradient(to bottom, #dd4814 0%, #c64012 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4814', endColorstr='#ffc64012', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
