
.header {
	z-index: 1;
	position: static;
	width: 100%;
	height: 72px;
	background-color: #35373F;
	margin: 0 auto;
	

}

.logo {
    padding-left: 144px;
    padding-top: 18px;
    
}

.navbar {
    font-size: 16px;
    color: #e5eaf2;
    padding-left: 400px;
    margin-top: -55px;
    font-family: "Runda";
    
}

.navlinks {
    display: inline-block;
    margin-right: 15px;
}

a,
a:link,
a:active,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #21b598;
}

p {
font-family: "Runda"; 
color: #7c8797;
    
}


.item,
.description,
.quantity,
.price {
    color: #000000;
}

.materials-row {
    background-color: #21b598;
    padding: 2px;
    font-size: 30px;
}

.steps-row {
    background-color: #4a90e2;
    padding: 2px;
    font-size: 30px;
}


.body {
    padding-top: 70px;   
    font-family: "Runda", Arial, Helvetica, Sans-Serif;
    color: #7c8797;
    line-height: 25px;
    
}

/* Hack to fix the height of the google custom search bar */
.gsc-input-box {
    height: 30px !important;
    
}

/* Hack to fix the google custom search button */
input.gsc-search-button {
    height: 30px !important;
    border-color: #2f5bb7 !important;
    background-color: #357ae8 !important;
    background-image: url('https://www.google.com/uds/css/v2/search_box_icon.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    
}

.well img {
    max-width: 720px;
}

.featured{
    
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    box-shadow: inset 0px 50px 100px -30px;
    color: gray;
}