<!doctype html>
<html lang="en" ng-app="makeHub">
<head>
    <title>MakeHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700|Lato:300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/bootswatch.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
    
    <link rel="stylesheet" href="/less/bootswatch.less">
    
    <script src="less-1.6.2.min.js" type="text/javascript"></script>



    <style type="text/css">



        #headerwrap {
            background-image: url('/img/banner_green.png');
            background-size: 100% 100%;
            height: 400px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway";
            font-weight: 300;
            color: #333;

        }

        #headerwrap h2,
        #headerwrap h1 {
            color: #FFF;
            font-weight: 300;
            letter-spacing: 3px;
        }

        #headerwrap h1 {
            font-size: 70px;
            margin-top: 100px;

        }
        #headerwrap h2 {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        h4 {
            font-weight: 700;
            margin: 20px 0 30px 0;
        }

        .centered {
            text-align: center;
        }

        p {
            font-family: "Lato", sans-serif;
        }

        body {
            padding-top: 0;
        }
        
        .intros {
            background-color: #F2F2F2;
            padding-top: 0;
        }

        .navbar-default {
            background-color: #2e3138;
            border-color: #2e3138;
        }

        .projects {
            background-color: #E0E0E0;
        }

        .footer {
            background-color: #2D2D2D;
            color: #00be9b;
            font-size: 30px;
        }

        .homepage-section {
            padding: 50px 0;
        }
        
        .homepage-section .fa{
         color: #00be9b; 
     }

     .footer i {
        margin: 20px;
    }
</style>
</head>
<body>

<div ng-view></div>
<div ng-controller="ChatController">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <nav class="navbar-header" role="navigation">
                <a class="navbar-brand" href="#">MakeHub</a>
            </nav>
            <ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
                <li><a href="/#/search">Search projects</a></li>
                <% if (user) { %>
                <li><a href="/#/create">Create new Project</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="my_projects()">My Projects <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="project in projects">
                            <a href="/#/project/{{project.id}}">{{project.description}}</a>
                        </li>
                    </ul>
                </li>
                <% } %>
            </ul>
            <nav class="pull-right">
                <% if (!user) { %>
                Welcome! Please <a href="/auth/github" class="btn btn-primary navbar-btn">Sign In</a>
                <% } else { %>
                Hello, <a target="_blank" href="https://github.com/settings/profile"><%= user.username %></a> <a href="/logout" class="btn btn-default navbar-btn">Log Out</a>
                <% } %>
            </nav>
        </div>
    </div>
</div>

<script src="/js/libs/jquery.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/angular.min.js"></script>
<!-- Minified sanitize didn't work for some reason - bug? -->
<script src="/js/libs/angular-sanitize.js"></script>
<script src="/js/libs/angular-flash.js"></script>
<script src="/js/libs/angular-route.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers.js"></script>
</body>
</html>
