<!doctype html>
<html lang="en" ng-app="makeHub">
  <head>
    <title>MakeHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
  </head>
  <body>
    <div ng-controller="ChatController">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <nav class="navbar-header" role="navigation">
                    <a class="navbar-brand" href="#">MakeHub</a>
                </nav>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="my_projects()">My Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="project in projects">
                            <a href="/#/project/{{project.id}}">{{project.description}}</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/#/search">Search projects</a></li>
                    <li><a href="/#/create">Create new Project</a></li>
                </ul>
                <nav class="pull-right">
                    <% if (!user) { %>
                            Welcome! Please <a href="/auth/github" class="btn btn-default navbar-btn">Sign In</a>
                    <% } else { %>
                            Hello, <a href="/account"><%= user.displayName %></a> <a href="/logout" class="btn btn-default navbar-btn">Log Out</a>
                    <% } %>
                </nav>
            </div>
        </div>
        <div class="container">
    
          <flash-messages></flash-messages>
    
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div ng-view></div>
            </div>
          </div>
        </div>
    </div>
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/libs/angular.min.js"></script>
    <!-- Minified sanitize didn't work for some reason - bug? -->
    <script src="/js/libs/angular-sanitize.js"></script>
    <script src="/js/libs/angular-flash.js"></script>
    <script src="/js/libs/angular-route.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
  </body>
</html>
