<!doctype html>
<html lang="en" ng-app="makeHub">
  <head>
    <title>MakeHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <nav class="navbar-header" role="navigation">
                <a class="navbar-brand" href="#">MakeHub</a>
            </nav>
            <nav class="pull-right">
                <% if (!user) { %>
                        Welcome! Please <a href="/auth/github" class="btn btn-default navbar-btn">Sign In</a>
                <% } else { %>
                        Hello, <a href="/account"><%= user.displayName %></a> <a href="/logout" class="btn btn-default navbar-btn">Log Out</a>
                <% } %>
            </nav>
        </div>
    </div>
    <div class="container" ng-controller="ChatController">

      <flash-messages></flash-messages>

      <div class="row">
        <div class="span3">

          <ul class="nav nav-list well">
            <li class="nav-header"><a href="#" ng-click="my_projects()">List my Projects</a></li>
            <li ng-repeat="project in projects">
            <a href="/#/project/{{project.id}}">{{project.description}}</a>
            </li>
          </ul>
          <a href="/#/create">Create new</a>
        </div>
        <div class="span5">
            <div ng-view></div>
        </div>
      </div>
    </div>
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/libs/angular.min.js"></script>
    <!-- Minified sanitize didn't work for some reason - bug? -->
    <script src="/js/libs/angular-sanitize.js"></script>
    <script src="/js/libs/angular-flash.js"></script>
    <script src="/js/libs/angular-route.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
  </body>
</html>
