<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>MakeHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      function ChatController($scope) {
        $scope.messages = [];
        $scope.projects = [];
        $scope.name = '';
        $scope.text = '';
        
        $scope.my_projects = function my_projects() {
            $.ajax({
                url: "/my_projects",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({gistName: $scope.text}),
                contentType: "application/json",
                cache: false,
                timeout: 5000,
                complete: function() {
                  //called when complete
                  console.log('process complete');
                },
            
                success: function(data) {
                    $scope.$apply( function () {
                      console.log(data);
                      $scope.projects = data.projects;
                      console.log('process sucess');
                    });
                },
            
                error: function() {
                  console.log('process error');
                },
            }); 
        }

        $scope.send = function send() {
          console.log('Sending message:', $scope.text);
          $.ajax({
                url: "/save",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({gistName: $scope.text}),
                contentType: "application/json",
                cache: false,
                timeout: 5000,
                complete: function() {
                  //called when complete
                  console.log('process complete');
                },
            
                success: function(data) {
                  console.log(data);
                  console.log('process sucess');
                },
            
                error: function() {
                  console.log('process error');
                },
            });
            $scope.text = '';
        };

        $scope.setName = function setName() {
            console.log($scope.name);
        };
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>MakeHub</h1>
      </div>
      <div class="row">
        <% if (!user) { %>
                <p>
                <a href="/">Home</a> | 
                <a href="/auth/github">Log In</a>
                </p>
        <% } else { %>
                <p>
                <a href="/">Home</a> | 
                <a href="/account">Account</a> | 
                <a href="/logout">Log Out</a>
                </p>
        <% } %>
        <% if (!user) { %>
                <h2>Welcome! Please log in.</h2>
        <% } else { %>
                <h2>Hello, <%= user.displayName %>.</h2>
        <% } %>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header"><a href="#" ng-click="my_projects()">List my Projects</a></li>
            <li ng-repeat="project in projects" ng-bind="project.name">
            </li>
          </ul>
        </div>
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Name</th>
                <th class="span7">Text</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="msg in messages">
                <td class="span2" ng-bind="msg.name"></td>
                <td class="span7" ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Your Name"></div>
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Message">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
