<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>MakeHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      function ChatController($scope) {
        $scope.messages = [];
        $scope.projects = [];
        $scope.selectedProject = [];
        $scope.rawProject = '';
        $scope.newProject = {};
        $scope.newProject.title = '';
        $scope.newProject.body = '';
        
        $scope.display_project = function display_project(project) {
            $.ajax({
                url: "/display_project",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({contentPath: project.contentPath}),
                contentType: "application/json",
                cache: false,
                timeout: 5000,
                complete: function() {
                  //called when complete
                  console.log('process complete');
                },
            
                success: function(data) {
                    $scope.$apply( function () {
                      console.log(data);
                      $scope.rawProject = data._raw;
                      $scope.selectedProject = data._json;
                      console.log('process sucess');
                    });
                },
            
                error: function() {
                  console.log('process error');
                },
            }); 
        }
        
        $scope.my_projects = function my_projects() {
            $.ajax({
                url: "/my_projects",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({gistName: $scope.text}),
                contentType: "application/json",
                cache: false,
                timeout: 5000,
                complete: function() {
                  //called when complete
                  console.log('process complete');
                },
            
                success: function(data) {
                    $scope.$apply( function () {
                      console.log(data);
                      $scope.projects = data.projects;
                      console.log('process sucess');
                    });
                },
            
                error: function() {
                  console.log('process error');
                },
            }); 
        }

        $scope.save = function save() {
          console.log('Sending message:', $scope.newProject);
          $.ajax({
                url: "/save",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({newProject: $scope.newProject}),
                contentType: "application/json",
                cache: false,
                timeout: 5000,
                complete: function() {
                  //called when complete
                  console.log('process complete');
                },
            
                success: function(data) {
                  console.log(data);
                  console.log('process sucess');
                },
            
                error: function() {
                  console.log('process error');
                },
            });
            $scope.text = '';
        };

        $scope.modify = function modify() {
          console.log('Sending message:', $scope.rawProject);
          $.ajax({
                url: "/save",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({rawProject: $scope.rawProject}),
                contentType: "application/json",
                cache: false,
                timeout: 5000,
                complete: function() {
                  //called when complete
                  console.log('process complete');
                },
            
                success: function(data) {
                  console.log(data);
                  console.log('process sucess');
                },
            
                error: function() {
                  console.log('process error');
                },
            });
            $scope.text = '';
        };
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>MakeHub</h1>
      </div>
      <div class="row">
        <% if (!user) { %>
                <p>
                <a href="/">Home</a> | 
                <a href="/auth/github">Log In</a>
                </p>
        <% } else { %>
                <p>
                <a href="/">Home</a> | 
                <a href="/account">Account</a> | 
                <a href="/logout">Log Out</a>
                </p>
        <% } %>
        <% if (!user) { %>
                <h2>Welcome! Please log in.</h2>
        <% } else { %>
                <h2>Hello, <%= user.displayName %>.</h2>
        <% } %>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header"><a href="#" ng-click="my_projects()">List my Projects</a></li>
            <li ng-repeat="project in projects" ng-bind="project.name" ng-click="display_project(project)">
            </li>
          </ul>
        </div>
        <div class="span5">
            <ul class="nav nav-list well">
                <li ng-repeat="line in selectedProject" ng-bind="line">
            </li>
          </ul>
        </div>
        <div class="span4">
            <form ng-submit="modify()">
                <textarea rows="10" ng-model="rawProject" placeholder="Your MakeHub Project"></textarea>
                <input type="submit" class="span1 btn btn-primary" value="Modify">
            </form>
        </div>
      </div>
      <div class="row">
        <h3>Create a new project</h3>
        <div class="span12">
            <form ng-submit="save()">
                <input type="text" ng-model="newProject.title" placeholder="Your New MakeHub Project Title"></textarea>
                <textarea rows="10" ng-model="newProject.body" placeholder="Your New MakeHub ProjectBody"></textarea>
                <input type="submit" class="span1 btn btn-primary" value="Create">
            </form>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
