<!doctype html>
<html lang="en" ng-app="makeHub">
  <head>
    <title>MakeHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>MakeHub</h1>
      </div>
      <flash-messages></flash-messages>
      <div class="row">
        <% if (!user) { %>
                <p>
                <a href="/">Home</a> |
                <a href="/auth/github">Log In</a>
                </p>
        <% } else { %>
                <p>
                <a href="/">Home</a> |
                <a href="/account">Account</a> |
                <a href="/logout">Log Out</a>
                </p>
        <% } %>
      </div>
      <div class="row">
        <div class="span3">
            <% if (!user) { %>
                    <h2>Welcome! Please log in.</h2>
            <% } else { %>
                    <h2>Hello, <%= user.displayName %>.</h2>
            <% } %>
          <ul class="nav nav-list well">
            <li class="nav-header"><a href="#" ng-click="my_projects()">List my Projects</a></li>
            <li ng-repeat="project in projects">
            <a href="/#/project/{{project.id}}">{{project.description}}</a>
            </li>
          </ul>
          <a href="/#/create">Create new</a>
        </div>
        <div class="span5">
            <div ng-view></div>
        </div>
      </div>
    </div>
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/libs/angular.min.js"></script>
    <!-- Minified sanitize didn't work for some reason - bug? -->
    <script src="/js/libs/angular-sanitize.js"></script>
    <script src="/js/libs/angular-flash.js"></script>
    <script src="/js/libs/angular-route.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
  </body>
</html>
